{{ 'component-collection-pkmn.css' | asset_url | stylesheet_tag }}
{% assign tcg = metaobjects.tcg.one-piece %}

<section class="section-white">
  <div class="isolate page-width">
    <div class="collection-pkmn__image-container-darkshadow">
      <img
        src="{{ tcg.image | image_url: width: auto , height: auto }}"
      >
    </div>
  </div>
</section>




{% schema %}
  {
    "name": "homepage-onepiece",
    "settings": []
  }
{% endschema %}