{{ 'pokedecks-category-components.css' | asset_url | stylesheet_tag }}
{% assign tcg = metaobjects.tcg.disney-lorcana %}

<style>
.holo-card {
  position: relative;
    overflow: hidden;
  z-index: 10;
  border-radius: 5% / 3.5%;
  box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.holo-card:hover {
  box-shadow: 
    -20px -20px 30px -25px var(--color1), 
    20px 20px 30px -25px var(--color2), 
    -7px -7px 10px -5px var(--color1), 
    7px 7px 10px -5px var(--color2), 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.holo-card::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 0, 0) 30%,       /* fade-in transparent */
    rgba(255, 0, 0, 0.5) 35%,     /* red */
    rgba(255, 165, 0, 0.5) 40%,   /* orange */
    rgba(255, 255, 0, 0.5) 45%,   /* yellow */
    rgba(0, 255, 0, 0.5) 50%,     /* green */
    rgba(0, 127, 255, 0.5) 55%,   /* blue */
    rgba(139, 0, 255, 0.5) 60%,   /* violet */
    rgba(255, 0, 0, 0.5) 65%,     /* red again */
    rgba(255, 0, 0, 0) 70%        /* fade-out transparent */
  );
  background-size: 200% 200%; 
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.holo-card:hover::after {
  opacity: 0.5;
  animation: holo-wipe 0.8s linear forwards;
}

.holo-card img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.holo-card:hover img {
  transform: scale(1.05);
}


/* Animate diagonal movement */
@keyframes holo-wipe {
  0% {
    background-position: -100% -100%;
  }
  100% {
    background-position: 150% 150%;
  }
}



</style>



<section class="section-white">
{{tcg.name | handle}}
  <div class="isolate page-width">
    <div class="pokedecks-category__image-container-darkshadow holo-card">
    <a href="/collections/{{ tcg.name | handle }}">
      <img
        src="{{ tcg.image | image_url: width: auto , height: auto }}"
      >
    </div>
  </div>
</section>




{% schema %}
  {
    "name": "banner-lorcana",
    "settings": []
  }
{% endschema %}
