
<style>
  .section-light-grey{
    padding-bottom: 0px;
  }
  
.section-subtext-dark{
  padding-bottom:10px;
      margin-bottom:15px;
      border-bottom: 4px solid #7846d5
}

  .rich-text__blocks--wide{
  width: 100%;
    margin: 10px;
  }


  
 .rich-text__align-left{
       text-align: left;
 }
  

  
</style>

<section class="section-light-grey">
  <div class="isolate page-width">
    <div class="section-heading">
      <h2 class="section-caption">Big decisions for a small business</h2>
      <h1 class="section-title-dark">Product Draw System</h1>
      <p class="section-subtext-dark">A fair and equal chance for collectors</p>
    </div>
    <div class="rich-text__wrapper rich-text__wrapper--left page-width--wide" >
      <div class="rich-text__blocks--wide">
        <p class="rich-text__align-left"> 
        The Pokemon TCG industry is thriving but unfortunately, <strong>demand far exceeds supply</strong>. Despite the Pokemon Company increasing print runs there is still a significant disconnect between how much stock is produced, and how much stock is needed to satisfy customer needs.<br>
          Unfortunately, this means that we are caught between extremely <strong>limited stock allocations</strong> and ever-increasing customer interest, in addition to contending with bots which can take advantage of online releases.<br>
          We have trialled various methods of protecting access to in-demand products, and a <strong>random selection system</strong> is the most balanced approach.<br>
          Where we anticipate that demand will exceed supply, products will be made available to customers through this system instead of the standard sales process.
      </p>
      </div>
    </div>
  </div>
</section>
<section class="section-light-grey">
  <div class="isolate page-width">
    <div class="section-heading">
      <p class="section-subtext-dark">How does the product draw work?</p>
    </div>
        <div class="rich-text__wrapper rich-text__wrapper--left page-width--wide" >
      <div class="rich-text__blocks--wide">
        <p class="rich-text__align-left"> 
        Please take the time to familiarise yourself with the details of product draws. <br>
        We will be regularly reviewing this process to ensure that we are managing access in an appropriate way.
      </p>
      </div>
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Lottery explainer",
    "settings": []
  }
{% endschema %}


