{{ 'product-info.css' | asset_url | stylesheet_tag }}


<section class="section-light-grey">
  <div class="page-width">

      <div class="product-info-container">
        <h2 class="contents-header">What's Included?</h2>
        
          <div class="product-info-row">
            <p class="product-info-value"> {{ product.description }} </p>
          </div>

      </div>
  </div>
</section>

{% schema %}
{
  "name": "Product info general",
  "settings": []
}
{% endschema %}
