
<style>
    .contents-header {
      color: #fff;
      margin: 0;
    }

    .product-info-container {
    display: flex;
    background-color: #2c3a57;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
  }

  .product-info-row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #46d5bf;
    padding-bottom: 10px;
  }

  .product-info-bold {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
  }

  .product-info-value {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #f6f9fc;
  }

  .metafield-single_line_text_field-array {
  list-style: none;
  padding: 0;
  margin: 0;
}

    @media (max-width: 600px) {
      .product-info-row {
        flex-direction: column;
        align-items: flex-start;
      }

      .product-info-value {
        text-align: left;


      }
    }
</style>

{% if product.metafields.custom.product_contents_booster_packs != blank  %}
<section class="section-light-grey">
  <div class="page-width">
      <div class="product-info-container">
        <h2 class="contents-header">What's Included?</h2>
          <div class="product-info-row">
            <div class="product-info-value">
               {{ product.metafields.custom.product_contents_booster_packs | metafield_tag }}
            </div>
        </div>
            <div class="product-info-row">
            <p class="product-info-value">
                <i>Each booster pack contains {{ product.metafields.custom.tcg.value.booster_pack_structure | metafield_tag }}</i>
            </p>
          </div>
      </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Product info booster box",
  "settings": []
}
{% endschema %}
