{{ 'product-info.css' | asset_url | stylesheet_tag }}


{% if product.metafields.custom.product_content_booster_packs != blank  %}
<section class="section-light-grey">
  <div class="page-width">
      <div class="product-info-container">
        <h2 class="contents-header">What's Included?</h2>
          <div class="product-info-row">
            <div class="product-info-value">
               {{ product.metafields.custom.product_content_booster_packs | metafield_tag }}
            </div>
        </div>
        <i>
            <div class="product-info-row">
<div class="product-info-value__disclaimer">
              {{- 'products.product.booster_box_disclaimer' | t -}}
              </div>
            <p class="product-info-value__disclaimer">
                Each booster pack contains {{ product.metafields.custom.tcg.value.booster_pack_structure | metafield_tag }}
            </p>
          </div>
          </i>
      </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Product info booster box",
  "settings": []
}
{% endschema %}
