.pokedecks-category--with-image {
  display: flex;
  justify-content: center;
}

.pokedecks-category__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
}

.pokedecks-category--with-image .pokedecks-category__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.pokedecks-category--with-image .pokedecks-category__inner {
  padding-bottom: 0;
}

.pokedecks-category__text-wrapper {
  flex-basis: 100%;
}

.pokedecks-category__inner {
  align-items: center;
  padding-bottom: 0;
}

.pokedecks-category__title {
  margin: 2.5rem 0;
}

.pokedecks-category__title + .pokedecks-category__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.pokedecks-category__image-container-darkshadow {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.pokedecks-category__image-container-lightshadow {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgb(255, 255, 255), -6px -6px 20px rgb(60, 60, 60);
  overflow: hidden;
}

.pokedecks-category__image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.pokedecks-category__description {
  max-width: 100%;
}

.pokedecks-category__title {
  margin: 0;
}

.pokedecks-category__title-light {
  margin: 0;
  color: #ffffff;
}

.pokedecks-category__content-wrapper {
  grid-column: 1 / -1;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 20px;
  width: 100%;
}

.pokedecks-category__text-wrapper,
.pokedecks-category__data-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pokedecks-category__text-wrapper > *,
.pokedecks-category__data-wrapper > * {
  flex-grow: 1;
}

.pokedecks-category__text-wrapper {
  grid-column: 1;
}

.pokedecks-category__data-wrapper {
  grid-column: 2;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #ffffff;
  z-index: -1;
}

/*
.holo-card {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.holo-card img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}


.holo-card::after {
  content: "";
  position: absolute;
  top: -50%; 
  left: -50%;
  width: 400%;
  height: 400%;
  background: linear-gradient(
    45deg,
  rgba(255, 0, 150, 0.4),
  rgba(0, 255, 255, 0.4),
  rgba(255, 255, 0, 0.4),
  rgba(255, 0, 150, 0.4)
  );
  mix-blend-mode: color-dodge;
  transform: translate(-100%, -100%);
  transition: transform 0.8s ease;
  pointer-events: none;
}


.holo-card:hover img {
  transform: scale(1.05);
}

.holo-card:hover::after {
  transform: translate(100%, 100%);
}
*/

.pokedecks-category__data-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 12px;
  z-index: -2;
}

.pokedecks-category__data-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: #0a2540;
  z-index: -1;
}

.collection-data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.collection-data-title {
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.collection-data-value {
  margin: 0;
}

/* data item spans both columns */
.collection-data-item {
  grid-column: 1 / -1;
  border-radius: 10px;
  text-align: center;
}

.collection-data-item-styled {
  grid-column: 1 / -1;
  border-radius: 10px;
  text-align: center;
  border-radius: 10px;
  background: #2c3a57;
}

/* data cell occupies one column */
.collection-data-cell {
  grid-column: auto;
  border-radius: 10px;
  background: #2c3a57;
  padding: 5px;
  text-align: center;
}

.collection-data-subtitle {
  margin: 2px;
}

.collection-data-cell-value {
  margin: 2px;
}

.metafield-single_line_text_field-array {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Responsive design for mobile devices */
@media screen and (max-width: 768px) {
  .pokedecks-category.pokedecks-category--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0
      calc(4rem + var(--page-width-margin));
    overflow: hidden;
  }

  .pokedecks-category__title + .pokedecks-category__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .pokedecks-category {
    padding: 0;
  }

  .pokedecks-category__inner {
    display: flex;
    flex-direction: column;
  }

  .pokedecks-category__image-container {
    height: 20rem;
    order: 1;
    width: 100%;
  }

  .pokedecks-category__image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .pokedecks-category__content-wrapper {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    gap: 5px;
  }

  .pokedecks-category__text-wrapper,
  .pokedecks-category__data-wrapper {
    width: 100%;
  }
}
